.layout-dashboard {
  header {
    @apply flex items-center h-[3rem] border-b border-gray-200;

    h1 {
      @apply flex-1 px-[1rem] text-base font-bold;
    }

    .header-actions {
      @apply flex items-center gap-[0.5rem] pr-[1rem];
    }
  }

  main {
    .dashboard-wrap {
      @apply flex;
    }

    .dashboard-nav {
      @apply w-[3rem] h-[calc(100svh-3rem)] border-r border-gray-200;

      button {
        @apply w-[3rem] h-[3rem] flex items-center justify-center;
      }
    }

    .dashboard-contents {
      @apply flex-1 h-[calc(100svh-3rem)] bg-slate-50 relative;

      .dashboard-contents-scroll {
        @apply h-[calc(100svh-3rem)];
      }


      &.is-detail-collapsed {
        .chat-wrap {
          @apply w-[100%] px-[10svw];
        }

        .toggle-detail {
          @apply left-[calc(10svw+4rem)];
        }

        .prompt-wrap {
          @apply left-[calc(10svw+4rem)] right-[calc(10svw+4rem)];
        }

        .detail-wrap {
          @apply w-0 p-0 border-0 opacity-0 overflow-hidden;
        }
      }

      &.is-detail-full {
        .chat-wrap {
          @apply w-0 opacity-0 overflow-hidden;
        }

        .toggle-detail {
          @apply hidden;
        }

        .prompt-wrap {
          @apply hidden;
        }

        .detail-wrap {
          @apply w-[calc(100%-5rem)] left-[4rem] right-[1rem];
        }
      }
    }
  }
}

.chat-wrap {
  @apply w-[calc(50%-2rem)] min-h-full p-[2rem] pb-[18rem] relative transition-all ease-in-out duration-200;

  .chat-list {
    @apply flex flex-col gap-[1rem];

    dl.chat-item {
      @apply flex flex-col gap-[0.5rem];

      dt {
        @apply flex justify-between items-center;
      }

      dd {}

      a {
        @apply underline;
      }

      &.me {
        dd {
          @apply flex pl-[10svw] justify-end;
        }

        .chat-message-group {
          @apply p-[1rem] border border-gray-200 rounded-2xl rounded-br-none bg-background;
        }
      }

      .chat-time {
        @apply flex justify-end text-xs text-gray-500;
      }

      .chat-message-group {
        @apply flex flex-col gap-[1rem];

        .chat-message {
          &.message-text {}

          &.message-ol {
            list-style-type: decimal;
            list-style-position: inside;
            padding-left: 0.5rem;
            line-height: 2;
          }

          &.message-collapsible {
            @apply relative;

            &:after {
              @apply content-[''] block w-[1px] absolute top-[1rem] -bottom-[1rem] left-[0.45rem] border-l border-dashed border-gray-300;
            }

            .message-collapsible-trigger {
              @apply flex items-center gap-[0.5rem];
            }

            .message-collapsible-content {
              @apply mx-[1.5rem] my-[0.5rem] text-sm;
            }
          }

          &.message-file {
            @apply flex gap-[0.5rem] my-[0.5rem] h-auto max-w-[100%] py-1 px-[1rem] text-foreground/50 justify-start border border-gray-200 bg-gray-100 rounded-full hover:bg-gray-100/50;

            .file-name {
              @apply inline-block text-sm overflow-hidden text-ellipsis;
            }

            .file-type {
              @apply p-[2px] text-foreground border border-gray-300 rounded-sm;

              &.type-md {}

              &.type-code {}
            }
          }
        }
      }
    }
  }
}

.detail-wrap {
  @apply w-[calc(50%-1rem)] flex-1 grid grid-rows-[3rem_1fr] border border-gray-200 bg-background rounded-xl opacity-100 fixed top-[4rem] right-[1rem] bottom-[1rem] transition-all ease-in-out duration-200;

  .detail-header {
    @apply h-[3rem] px-[1rem] flex justify-between items-center shadow-sm;

    h3 {
      @apply text-base font-bold;
    }
  }

  .detail-body {}
}

.toggle-detail {
  @apply w-16 h-12 border border-gray-200 bg-slate-100 absolute bottom-[13rem] left-[2rem] rounded-xl shadow-md;
}

.prompt-wrap {
  @apply h-[10rem] absolute bottom-[2rem] left-[2rem] right-[calc(50svw+2rem)];

  button {
    @apply px-6;
  }
}